@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .btn {
    border-image: url('/images/border.png') 20 fill / 20px;
  }
  .title {
    @apply text-[43px] font-thin leading-tight tracking-[-1.72px] md:text-[67px] md:leading-none md:tracking-[-2.68px] md:uppercase xl:text-[98px] xl:tracking-[-3.92px];
  }

  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url('/images/bg-hero.png');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('/images/bg-hero@2x.png');
    }
  }
  @media screen and (min-width: 1280px) {
    .hero {
      background-position: center;
    }
  }

  .about {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left calc(50% + 295px);
    background-image: url('/images/bg-about.png');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about {
      background-image: url('/images/bg-about@2x.png');
    }
  }
  @media screen and (min-width: 768px) {
    .about {
      background-position: center;
    }
  }
  .dots_wrapper {
    top: calc(50% + 7%);
  }

  @media screen and (min-width: 370px) and (max-width: 480px) {
    .dots_wrapper {
      top: calc(50% + 9%);
    }
  }

  .dot::before {
    content: '';
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    background-color: #fff;
    display: block;
  }
}
